#welcome {
    postion: absolute;
    height: 60%;
    width: 100%;
    background:linear-gradient(#FFCCCC 50%, #EF98AA 50%);
    opacity: 0.83;
    overflow: hidden;
    color:black;
}

.h1{
font-size:300px;    
    
    
}

#img1{
    
 border-radius:1px;
    
}

.menu{
    
 list-style: none;
 font-family: cursive;
 top: 10px;
 right: 30px;
 position: absolute;
 text-decoration: underline;
 
}

.lists{
 
 color:darkslateblue;
 float:left;
 padding-top:5px;
 padding-bottom: 5px;
 padding-right: 10px;
 padding-left: 10px;    
}

.lists:hover{
    
    background-color: white;
}

.style{
    
    text-align: center;
    position: relative;
    vertical-align: middle;
}

#bio{
    
    padding:50px;
    text-align: center;
    font-size: 15px;
    font-family: cursive;
}
   